<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" dir="ltr">
  <head>
    <title>H2O IQ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    
    <style type="text/css">
      @import "../static/H2O_IQ.css";
    </style>
  </head>
  <body>
  <div id="hd">
    <h1 class="g-section">H20 IQ</h1>
  </div>
  <div id="bd">
   <div id="plant-rows">
    <table>
     <tr>
      <td><a href="/tomatoes"><img src="../static/tomatoes.jpg"></a></td>
      <td><img src="../static/ok.jpg"></td>
     </tr>
     <tr>
      <td><a href="#"><img src="../static/strawberries.jpg"></a></td>
      <td><img src="../static/plzwater.jpg"></td>
     </tr>
     <tr>
      <td><a href="#"><img src="../static/broccoli.jpg"></a></td>
      <td><img src="../static/ok.jpg"></td>
     </tr>
     <tr>
      <td>
       <div align=center>
        <a href="#"><img src="../static/newrow.jpg"></a>
       </div>
      </td>
     </tr>
    </table>
   </div>
  </div>
  </body>
</html>

